/*
div {
    margin: 0px auto;
    position: relative;
    text-align: left;
    width: 400px;
    }
p {
    clear: both;
    margin: 1em 0px;
    }
*/
a {
    color: #FF2052;
    }
a:hover {
    color: #E72094;
    }
    a img {
        border: 2px solid transparent;
        margin: -2px;
        margin-bottom: 1em;
        }
    a:hover img {
        border: 2px solid #E72094;
        }
    a img.left {
        float: left;
        margin-right: 1em;
        width: 200px;
        }
    a img.right {
        float: right;
        margin-left: 1em;
        width: 200px;
        }
    a#forkme img {
        border: 0px;
        margin: 0px;
        padding: 0px;
        position: absolute;
        right: 0px;
        top: 0px;
        }

article {
    font-size: 120%;
    margin: 0 auto;
    width: 700px;
    }

body {
    font-family: Helvetica, Arial, FreeSans, sans-serif;
    }

footer {
    text-align: center;
    padding-top: 30px;
    font-style: italic;
    }

h1, h2, h3, h4, h5, h6 {
    margin: 1em 0px 0px;
    }
    
h1 {
    font-size: 3.8em;
    color: #230632;
    margin-bottom: 3px;
    }
    h1 a {
        text-decoration: none
        }
    h1 small {
        font-size: 0.4em;
        }

h2 {
    font-size: 1.5em;
    color: #230632;
    }

h3 {
    text-align: center;
    color: #230632;
    }

header {
    position: relative;
    }    
    header .download {
        position: absolute;
        right: 0px;
        top: 0px;
        }

p {
    clear: both;
    margin: 1em 0px;
    }
    
pre {
    background: #000;
    color: #fff;
    padding: 15px;
    }
